In [3]:
import cv2
import os
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(".\\DATA\\HAM10000_metadata")

In [5]:
df.head()

,lesion_id,image_id,dx,dx_type,age,sex,localization,dataset
0,HAM_0000118,ISIC_0027419,bkl,histo,80.0,male,scalp,vidir_modern
1,HAM_0000118,ISIC_0025030,bkl,histo,80.0,male,scalp,vidir_modern
2,HAM_0002730,ISIC_0026769,bkl,histo,80.0,male,scalp,vidir_modern
3,HAM_0002730,ISIC_0025661,bkl,histo,80.0,male,scalp,vidir_modern
4,HAM_0001466,ISIC_0031633,bkl,histo,75.0,male,ear,vidir_modern

In [6]:
df = df.rename(columns={"dx": "diagnosis"})
df = df[["image_id", "diagnosis"]]

In [7]:
data_dir = ".\\DATA\\HAM10000_images_part_1_and_2"

In [8]:
names = os.listdir(data_dir)
for idx in range(len(names)):
    names[idx] = names[idx].split(".")[0]

In [9]:
paths = []
for image in os.listdir(data_dir):
    path = os.path.join(data_dir, image)
    paths.append(path)

In [10]:
image_path = dict(zip(names, paths))

In [11]:
df["image_path"] = df["image_id"].map(image_path.get)

In [12]:
df["image"] = df["image_path"].map(lambda x: np.array(cv2.imread(x)).flatten())
# convert RGB image to one dimensional array of pixels

In [13]:
df.head()

,image_id,diagnosis,image_path,image
0,ISIC_0027419,bkl,.\DATA\HAM10000_images_part_1_and_2\ISIC_00274...,"[191, 147, 188, 189, 148, 186, 191, 150, 187, ..."
1,ISIC_0025030,bkl,.\DATA\HAM10000_images_part_1_and_2\ISIC_00250...,"[23, 15, 25, 22, 14, 25, 22, 14, 25, 22, 14, 2..."
2,ISIC_0026769,bkl,.\DATA\HAM10000_images_part_1_and_2\ISIC_00267...,"[140, 128, 186, 136, 128, 188, 133, 126, 183, ..."
3,ISIC_0025661,bkl,.\DATA\HAM10000_images_part_1_and_2\ISIC_00256...,"[16, 9, 24, 15, 11, 22, 15, 11, 23, 16, 11, 26..."
4,ISIC_0031633,bkl,.\DATA\HAM10000_images_part_1_and_2\ISIC_00316...,"[102, 80, 122, 104, 82, 124, 106, 83, 127, 109..."

In [15]:
df = df[["diagnosis", "image"]]
df.to_csv(".\\DATA\\image_data.csv", index=False)